@model Registration.Models.Section
@{
    ViewData["Title"] = "Section View";
}
<script type="text/javascript">
    function Alert() {
        var answer = confirm("Out Of Funding, Send More Money")
        if (answer)
            window.location = "#";
    }
</script>

<h1>Deparment Search</h1>
<div class="card" id="sectionindexcard">
    <div class="card-body">
        <h3 class="card-title">Select Department</h3>
        <div class="scrollitindex">
            <table id="indextable">
                <tr>
                    <th>
                        <a style="text-decoration:none" href="javascript:Alert();"> A E - Aerospace Engineering </a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a style="text-decoration:none" href="javascript:Alert();">A M - Applied Mechanics</a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a style="text-decoration:none" href="javascript:Alert();">BANA - Business Analytics</a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a style="text-decoration:none" href="javascript:Alert();">BIOL - Biology</a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a style="text-decoration:none" href="javascript:Alert();">CE - Civil Engineering</a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a style="text-decoration:none" href="@Url.Action("SectionSearch", "Section")" class="elements">
                            <span>COMP - Computer Science</span>
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a style="text-decoration:none" href="javascript:Alert();">DEAF - Deaf Studies</a>
                    </th>
                </tr>
            </table>
        </div>
        </h3>
    </div>
</div>
