@model UserModel
@{
    ViewData["Title"] = "Professor Login";
}
<div class="row">
    <p>
    <h1>Professor Login</h1>
    </p>
    <div class="row">
        <form action="Professor" method="post">
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit" onclick="window.location= '@Url.Action( "Index", "Home")'">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me </label>
                <span class="password"> <a href="#">Forgot Password?</a></span>
                </label>
            </div>
        </form>
    </div>
</div>