@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="text-center">
    <div class="w3-container">
        <h2>Login Portals</h2>
        <a href="@Url.Action("Index", "Student")" class="homebutton">STUDENT LOGIN</a>
        <a href="@Url.Action("Index", "Professor")" class="homebutton">PROFESSOR LOGIN</a>
    </div>
</div>
