html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #FAF9F6;
}

/* Professor Login Page */
#display {
  width: 600px;
  height: 425px;
  background-color: white;
  box-shadow: 7px 7px #E74A37;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border: 1px solid;   
  display: table;
}

#login-error {
  color: #E74A37;
}
/*-------------------------*/

/*Professor Dashboard*/
/*Card for Professor Information*/
#card{
  height: 300px;
  width: 550px;
}
/*Card for Professor Schedule*/
#schedulecard{
  height: 425px;
  width: 750px
}
/*Scroll for Professor Schedule*/
.scrollit {
  overflow-y:scroll;
  height:350px;
  overflow-x: hidden
}


/*Table styling for Courses*/
table#coursetable table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow-y:scroll;
}

table#coursetable td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table#coursetable tr:nth-child(even) {
  background-color: #dddddd;
}
/*-------------------------*/

/* Course View */
#course {
  width: 800px;
}

#course-header {
  color: #55565A;
  font-weight: bold;
}

#course-header span {
  color: red;
  font-weight: bolder;
}

#contents {
  padding: 5px;
}

#course-card {
  height: 400px;
  box-shadow: 0px 12px 24px black;
  transform: translateY(-2px)
}

#course-card span {
  font-weight: bold;
}